%h1 Data Import
%p.content
  Here is a demonstration of data import.
%p
  Example 1: 
%p
  Using a GoogleDocs file such as the one shown:
%p
= image_tag("googledocstermlist.png")
%p
= link_to("https://docs.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=0Anhry-cpGvzYdGRNMEtyWVphaEZQVGN3bWMxaF9aU0E&output=html")
%p
  Importing from a translation memory:
%p 	
= image_tag("memory.png")
	
	
