%h1 Development Notes
%a{:href => "http://html2haml.heroku.com/"} Useful link for editing
%p.content
  Going to talk about some of the features included in this application:
  %ul
    %li I am using HAML to write the longer content
    %li A list of GEMS and a brief description of the value of each appears below
    %li Many to Many Through and One to Many Table dependencies
    %li 
	
%a{:href => "https://github.com/mellterm/t2t/blob/master/Gemfile"} Link to Gemfile	

%p.todos
  %h2 Todos
  %ul
    %li Ajaxify some of the form content, include an autocomplete on domains and translation lookup
    %li Complete localized versions 
