<html>
<head>
<title>iTranslate</title>
<body style="margin-left: 5% ; margin-right: 5%" onload="body_onLoad()">
<b><font size="+3">See[Mike]Code</font></b><br>
<hr>
<div id="body">
Translate in the translation boxes below.  We can see it as you type.
<p>
<textarea id="code" cols="10" rows="30" onkeydown="textarea_onkeydown(event)"
	onkeyup="writeCode(this.value)" style="font-family:monospace;"></textarea>
<div id="status"></div>
</div>
<hr>
<a href="mailto:mike@seemikecode.com">mike@seemikecode.com</a>

</body>
</html>