<html>
<body style="margin-left: 5% ; margin-right: 5%" onload="body_onLoad()">
<b><font size="+3">See[Mike]Code</font></b><br>
<b>Conduct a short coding interview, remotely, at <a href="http://i.seemikecode.com/">seemikecode.com</a></b>
<hr>
<div id="body">
<div id="id"></div>
<textarea id="code" cols="80" rows="20" readonly="readonly" style="font-family:monospace;"></textarea>
<div id="status"></div>
</div>
<hr>
<a href="mailto:mike@seemikecode.com">mike@seemikecode.com</a>
</body>
</html>