%h1 Project Report
%em written in HAML
%p.content
  This is what I am going to talk about:
  %ul
    %li 
      %a.selected{:href => "#features"} Implemented features
    %li
      %a.selected{:href => "#difficult"} Difficulties/most challenging aspects
    %li 
      %a.selected{:href => "#solutions"} Solutions
    %li  
      %a.selected{:href => "#future"} Future
  %ul 

#features


#difficult



#solutions



#future


